<table>
  <tr>
    <td><div id="1" class="" (click)="clickedonDiv('1')"></div></td>
    <td><div id="2" (click)="clickedonDiv('2')"></div></td>
    <td><div id="3" (click)="clickedonDiv('3')"></div></td>
  </tr>
  <tr>
    <td><div id="4" (click)="clickedonDiv('4')"></div></td>
    <td><div id="5" (click)="clickedonDiv('5')"></div></td>
    <td><div id="6" (click)="clickedonDiv('6')"></div></td>
  </tr>
  <tr>
    <td><div id="7" (click)="clickedonDiv('7')"></div></td>
    <td><div id="8" (click)="clickedonDiv('8')"></div></td>
    <td><div id="9" (click)="clickedonDiv('9')"></div></td>
  </tr>
</table>
